body{
	background-color:gray;
}
.container{
	display:flex;
	flex-direction:column;
}
.summary{
	background-color:#f7fbff;
	border-top:1px solid #5ea4f3;
}
.product{
	display:flex;
	flex-direction:row;
}
.info{
	display:flex;
	flex-direction:column;
	margin:10px;
}
input{
	width:30px;
}
.quantity{
	display:flex;
	flex-direction:column;
	margin:10px;
}
.image{
	height:120px;
	width:80px;
	margin:10px;
}
.block-heading{
	text-align:center;
}